body{
  background-image: url('https://images.unsplash.com/photo-1560790671-b76ca4de55ef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=434&q=80');
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding:10px;
  }
  #title {
    color: rgb(218, 188, 188);
    font-size:30;
    text-align:center;
  }
  #description {
    color:white;
    font-size:13;
    text-align:center;
  }
  #survey-form{
    background-color:rgba(37, 88, 143, 0.75);
    width:90%;
    height: 85%;
    margin:auto;
  }
  #name-label, #email-label, #number-label, #Checks { 
  color:white;
  margin-left: 10px;
  font-size: 15px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  #number,#email,#name{
  margin:10px 10px;
  width:80%;
  }
  #dropdown{margin-left:10px;
  }
  .edit{
  color:RGB(240, 178, 122);
  margin:10px;
  font-size:15px;
  margin-top:10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

  }
  input[type="submit"]{
    display:block;
    width:50%;
    margin:1em auto;
    padding:8px;
    font-size:20px;
    
  }