body{
  background-image: url('https://images.unsplash.com/photo-1532012197267-da84d127e765?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8ZWR1Y2F0aW9ufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60');
  padding:20px;
  }
  #title {
    color:white;
    font-size:30;
    text-align:center;
  }
  #description {
    color:white;
    font-size:13;
    text-align:center;
  }
  #survey-form{
    background-color:rgb(200, 200, 200);
    width:90%;
    height: 85%;
    margin:auto;
  }
  #name-label, #email-label, #number-label, #Checks { 
  color:black;
  margin-left: 10px;
  font-size: 15px;
  }
  #number,#email,#name{
  margin:10px 10px;
  width:80%;
  }
  #dropdown{margin-left:10px;
  }
  .edit{
  color:RGB(50, 100, 50);
  margin:10px;
  font-size:15;
  margin-top:10px;
  }
  input[type="submit"]{
    display:block;
    width:50%;
    margin:1em auto;
    padding:8px;
    font-size:20px;
    
  }